# See https://docs.docker.com/engine/reference/builder/#dockerignore-file for more about ignoring files.

# 1. Ignore everything
**

# 2. Add files and directories that should be included
!app/**
!bin/**
!config/**
!db/**
!lib/**
!public/**
!tmp/pids/.keep
!vendor/javascript/.keep
!Gemfile
!Gemfile.lock
!config.ru
!Rakefile

# 3. Bonus step: ignore any unnecessary files that may be inside those allowed directories in 2
**/*.log
**/.DS_Store
